h1{
    text-align: center;
    text-decoration-color: brown;
    color: rgb(40, 140, 228);
}
tr{
    color: rgb(255, 255, 255);
}
#navbar{
    height: 60px;
    background-color: #bbc3c3;

}
button{
    background-color: #f08804;

}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    margin-top: 18px;
    text-decoration: none;
}
div{
    display: flex;
}
#barsearch{
    height: 25px;
    margin-top: 18px;
    border-width: 2px;
    border-color: #f08804 ;
}
